* {
  box-sizing: border-box;
  background-color: rgb(13, 13, 40);
  color: white;
  scroll-behavior: smooth;
  position: relative;
}

/* #navbar {
  display: flex;
  flex-direction: row;
} */

.flex-container {
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  border-bottom: 2px solid rgb(180, 175, 175);
  box-shadow: 0 1px orange;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

li {
  float: right;
  margin: 20px 30px;
}

li a {
  display: block;
  display: flex;
  color: rgb(222, 222, 221);
  text-align: center;
  padding: 10px 3px 10px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
  margin: 20px 10px;
}

li a:hover {
  color: rgb(142, 141, 141);
  font-size: 15px;
}

#btnCV {
  color: aqua;
  border-color: rgb(222, 222, 221);
  margin: 0 30px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

#btnCerts {
  color: aqua;
  border-color: rgb(222, 222, 221);
  margin: 0 30px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

#btnCerts:hover {
  background-color: rgb(33, 138, 138);
  color: white;
}

#btnCV:hover {
  background-color: rgb(33, 138, 138);
  color: white;
}

#firstP {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: rgb(33, 138, 138);
  margin-right: 200px;
}

#h2Name {
  margin: 0 30px 0 0;
  font-family: sans-serif;
  font-size: 35px;
  color: rgb(221, 221, 215);
}

.title {
  font-family: sans-serif;
  font-size: 27px;
  margin: 10px auto;
  color: rgb(104, 103, 103);
}

.title2 {
  font-family: sans-serif;
  font-size: 15px;
  margin: 50px;
  color: rgb(185, 185, 181);
}

.firstCol {
  flex-direction: column;
  text-align: center;
  padding: 10px;
  flex: 50%;
}

.picture {
  border-radius: 50%;
  opacity: 0.5;
}

.picture:hover {
  opacity: 0.8;
}

.secondCol {
  flex: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

#aboutMe {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-style: italic;
  text-align: justify;
  color: rgb(143, 141, 141);
  padding: 10px;
  margin: 0 50px 0 0;
}

#aboutMe:hover {
  color: rgb(221, 221, 215);
}

#projectTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 23px;
  color: rgb(206, 122, 48);
}

/* stilizare imagine - project */
.picture-project {
  height: 30vh;
}

p a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: aqua;
}

/*contact icons */
#contactMe {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: rgb(206, 122, 48);
  text-align: center;
}

.contactlinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

/* pt telefon */
@media (max-width: 700px) {
  .flex-container {
    flex-direction: column;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }
  li {
    margin: 0 5px;
  }
}

/* pt desktop */
/* @media (min-width: 800px) {
  .firstCol {
    width: 30%;
  }
  .secondCol {
    width: 70%;
  }
} */

/* pt tableta */
