* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgb(199, 179, 235), rgb(127, 227, 240));
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
}

.quiz-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  width: 500px;
  max-width: 95vw;
  overflow: hidden;
}

.quiz-header {
  padding: 1rem;
}

h2 {
  padding: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 17px;
}

ul li label {
  cursor: pointer;
}

#submit {
    background-color: aquamarine;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 17px;
    font-family: sans-serif;
    padding: 13px;
    font-weight: bold;
}
#submit:hover {
    background-color: aqua;
}